.noteItem {
  padding: 5px;
  height: 18vh;
  border-radius: 5px;
  background-color:mediumpurple ;
}

.noteHeadline {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.noteButton {
  padding: 3px 6px;
  border-radius: 10px;
  color:navy;
}

.buttonsBlock {
  display: flex;
  justify-content: flex-end;
}

.buttonEdit {
  @extend .noteButton;
  background-color: chocolate;
}

.buttonDelete {
  @extend .noteButton;
  background-color: crimson;
}

.noteInput {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 3%;
}

.buttonBlock {
  display: flex;
  justify-content: center;
}
