$txtcolor: cadetblue;
$objcolor: rgb(111, 28, 189);

.listItem {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-family: inherit;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  color: $objcolor;
  background-color:rgb(221, 56, 172);
  &:hover {
    background-color:rgb(230, 32, 131);
    transition: .5s
  }
  &__active {
    @extend .listItem;
    background-color:rgb(32, 200, 230);
  }
}

.buttonAll {
  @extend .listItem;
  background-color: $objcolor;
  color:chocolate;
  &__active {
    @extend .buttonAll;
    background-color:rgb(32, 200, 230);
  }
}
