.header {
  padding: 0 20px;
  background-color: rgb(230, 151, 78);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  .headline {
    color:rgb(111, 28, 189)
  }
}
.wrapper {
  background-image: url(./../../assets/img/cover.jpg);
  background-position: center;
  height: 90vh;
  padding: 0 20px;

  .main {
    display: flex;
    justify-content: space-between;
    .forms {
      width: 18%;
    }
    .notes {
      width: 78%;
    }
  }

}

.gitLogo {
  width: 40px;
  height: 40px;
}


